body{
background-image: url('background.png');
background-attachment: fixed;
}
.sidenav {
    height: 100%;
    width: 207px;
    position: fixed;
    z-index: 1;
    top: 11%;
    left: 0;
    overflow-x: hidden;
    padding-top: 25px;
    
    font-size: 19px;
    height: 800px;
    margin-left:10px;
}

.sidenav a{
    
    text-decoration: none;
    
    color:black;
    display: block; 
}
.sidenav p{
  
    text-decoration: none;
    
    color:black;
    display: block; 
}
.sidenav a:hover {
    color: #f1f1f1;
}

.main {
    margin-left: 200px; /* Same as the width of the sidenav */
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
img {
    
    width: 200px;
    height: 260px;
  
    
   
}
.nav.formobile ul li {
    display: block;
}
.nav.formobile ul li p {
    display: block;
}
.formobile{
    display:none !important;
}
.fordesktop{
    display:block !important;
}
ul li {
    position:relative;
}
ul li ul {
    display: none;
    position: absolute;
    top: zero;
    top: 50px;
    right: 0;
    width: 250px;
}
ul li:hover ul{
    display:block;
}
@media only screen and (max-width:1169px){
    .bannertext {
    text-align: center;
    top: 45%;
    left: 0;
    color: white;
    right: 0;
    margin: 0px auto;
    display: block;
    bottom: 0;
    width: 60%;
}
}
@media only screen and (max-width:1023px){
    img{
        width: 100%;
        margin-top: 45px;
    }
}
@media only screen and (max-width:767px){
    .img{
        width:25px; 
        height:30px;
    }
    section.bodypart{
        width:25px; 
        height:30px;
    }
    .formobile{
    display:block !important;
}
.fordesktop{
    display:none !important;
}
p.text4{
    padding:0;
}

}
@media only screen and (max-width:639px){
    .bannertext {
        font-size: 20px; 
    }

    
}
@media only screen and (max-width:479px){
.sec2text img.left,.sec2text img.right{
    float: none ;
    width: 150px;
    height: 150px;
    display: block;
    margin: 0px auto;
}

}
@media only screen and (max-width:359px){
    
}
.nav {

    padding: 0px;
    font-size: 20px;
    text-align:right;
      
    }
    
    ul li a {
    display: block;
    color:white ;
    padding: 12px 15px;
    text-decoration: none; 
    font-family:sm;
    font-size:20px; 
    }
    
    ul li {
    display:inline-block;
    text-align:right;
    }
    .logosec {
        position:fixed;
        width:100%;
        margin: 0px auto;
        background-color:#7d7b7b;
        z-index:1;
        top: 0px;
        }
        #about p {
                margin-top: -16px;
                margin-bottom: 1rem;
                color: rgb(249, 247, 247);
                background-color: #38787b;
                padding: 43px;
        }

        #about h3 {
            margin-bottom: 1rem;
            margin-left: 32px;
            background-color: #38787b;
            padding: 14px;
            font-family: nn;
            color: white;
            text-decoration: underline;
        }

#edu
    p {
        margin-top: -50px;
        margin-bottom: 1rem;
        padding: 29px;   
}

#exp
    p {
        margin-top: -39px;
    margin-bottom: 1rem;
    padding: 40px;
    }
    #edu {
    border-style: solid;
    border-width: thin;
    border-color: black;
    margin: 61px 54px 80PX 66PX;
    background-color: #919259;
    margin-left: 270px;
    color: white;
    box-shadow: 10px 10px 5px rgb(134, 132, 132);
    }
   
    #exp{
    border-style: solid;
    border-width: thin;
    border-color: black;
    margin: -45px 54px 74PX 62PX;
    margin-left: 270px;
    color: white;
    background-color: #986264;
    box-shadow: 10px 10px 5px rgb(134, 132, 132);
        
    }
    address {
        height: 100%;
        width: 207px;
        position: fixed;
        z-index: 1;
        top: 60%;
        left: 0;
        overflow-x: hidden;
        padding-top: 25px;
       
        height: 800px;
        margin-left:15px;
    }
    #about {
    
    border-style: solid;
    border-width: thin;
    border-color: black;
    margin: 69px 54px 74PX 62PX;
    background-color: 3b7680;
    margin-left: 270px;
    color: white;
    margin-top:92px;
    box-shadow: 10px 10px 5px rgb(134, 132, 132);
    }
    .logo{
        width:100%;
        
      }
      .logo img {
        width:100px;
        height:auto;
        
      }
      .logosec {
        position: fixed;
        width:100%;
        margin: 0px auto;
        background: #1d2529cf;
        z-index:1;
    }
    @font-face {
        font-family:sm;
        src: url('KG.ttf');
    
    }
    @font-face {
        font-family:mm;
        src: url('rb.ttf');
    
    }
    @font-face {
        font-family:nn;
        src: url('bs 2.ttf');
    }
    @font-face {
        font-family:rb;
        src: url('as.ttf');
    
    }
    .btn{
        background: #c7ac28;
    }
    #edu h3{
        font-family:nn;
        color: white;
        padding: 33px;
        text-decoration: underline;
    }
    #edu h4{
        font-family:nn;
        color: white;
        padding: 25px;
        text-decoration: underline;
    }
    #edu table{
        margin: 0px 54px 74PX 62PX;
        background-color:#919259;
        color:white;
        border-style:none;
        padding:30px;
        width: 93%;
        border-collapse: separate;
    }
    #exp h3{
        font-family:nn;
        padding: 31px;
        text-decoration: underline;
    }
    #skills h3 {
        margin-bottom: 1rem;
        margin-left: 42px;
        background-color: #38787b;
        padding: 14px;
        font-family: nn;
        color: white;
        text-decoration: underline;
    }
    #skills {
    
        border-style: solid;
        border-width: thin;
        border-color: black;
        margin: 69px 54px 74PX 62PX;
        background-color: 3b7680;
        margin-left: 270px;
        color: white;
        margin-top:65px;
        box-shadow: 10px 10px 5px rgb(134, 132, 132);
        }
        .btn:hover {
            background-color: #3e8e41;
            color: white;
          }
          #skills table{
            margin: 0px 54px 74PX 62PX;
            background-color:3b7680;
            color:white;
            border-style:none;
            padding:30px;
            width: 93%;
            border-collapse: separate;
        }
